click==7.1.2
python-dotenv>=0.5.1
scikit-learn>=0.24.1
dataclasses==0.7
pyyaml==3.11
marshmallow-dataclass==8.3.0
pandas>=1.1.5
boto3==1.17.49
matplotlib>=3.5.0
mlflow==1.25.1
seaborn>=0.12.0
setuptools~=65.5.0
numpy>=1.22.3
hydra-core==1.1.2
hydra-colorlog==1.1.0
kaggle==1.5.12
jupyter==1.0.0